@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Welcome to this simple demo applicaton</h2>
    <br />
    <h3>This application uses the following to load and display GitHub data </h3>
    <div>
        <p>Octokit Nuget package</p>
        <p>Microsoft.AspNet.WebApi.Client Nuget package</p>
        <p>JQuery and Ajax calls to Web API controller</p>
        <p>Simple Bootstrap styling</p>
    </div>
</div>